# build files
*cmake-build-debug/
*cmake-build-release/
CMakeCache.txt
CMakeFiles
out
*cmake-build-debug-windows/
.vs/
*cmake-build-xcode

# macOS shit
*.DS_Store

#Course sources by Soji, however
#fssimple
demos

# Misc
*.pdf
*.zip
*.tar.gz
*.jpg
*.png
*.mp4
*.mov
*.wav

